<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <meta name="description" content="{{ meta_description }}">
 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel='stylesheet'  href='https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.css' >
<!-- Google Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,500,600">

<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="assets/css/app.min.css">



</head>
<body {% if bodyClass %}class="{{ bodyClass }}"{% endif %}>

    <div class="page-wrapper" id="pageWrapper">
        {% include "_html/_base/_includes/_header.html" %}

        {% block content %}{% endblock %}

        {% include "_html/_base/_includes/_footer.html" %}
    </div>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



    <script src="assets/js/app.min.js"></script>
    <script>
        $('.navbar-toggler').on('click', function() {
            $('.navbar-nav').toggleClass('show');
            });

    </script>
  <script>

    $(document).ready(function(){
      // Инициализируем Chosen на элементе select
      $('.atr_select').chosen();
    });
  </script>
  <script>

$(document).ready(function(){
    $('.dropdown-submenu a').on("click", function(e){
        $(this).next('ul').toggle();
        e.stopPropagation();
        e.preventDefault();
    });
});



  </script>



</body>
</html>