<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <meta name="description" content="{{ meta_description }}">
 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- Google Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,500,600">



<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="assets/css/app.min.css">


</head>
<body {% if bodyClass %}class="{{ bodyClass }}"{% endif %}>

    <div class="page-wrapper" id="pageWrapper">
        {% include "_html/_base/_includes/_header.html" %}

        {% block content %}{% endblock %}

        {% include "_html/_base/_includes/_footer.html" %}
    </div>

<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="assets/js/app.min.js"></script>


<script>
   $(document).ready(function() {
  $('.dropdown-submenu > a').on("click", function(e) {
    var submenu = $(this).next('ul');
    $('.dropdown-submenu > ul').not(submenu).removeClass('show');
    submenu.toggleClass('show');
    e.stopPropagation();
    e.preventDefault();
  });

  $('.navbar-toggle').on("click", function(e) {
    $('.dropdown-submenu > ul').removeClass('show');
  });
});

  </script>

<script>
    document.getElementById("navbar-toggle").setAttribute("aria-expanded", "false");

</script>


<script>
  $('.search-cat').each(function() {
    const _this = $(this),
        selectOption = _this.find('option'),
        selectOptionLength = selectOption.length,
        selectedOption = selectOption.filter(':selected'),
        duration = 450;

    _this.hide();
    _this.wrap('<div class="select"></div>');
    $('<div>', {
        class: 'new-select',
        text: _this.children('option:disabled').text()
    }).insertAfter(_this);

    const selectHead = _this.next('.new-select');
    $('<div>', {
        class: 'new-select__list'
    }).insertAfter(selectHead);

    const selectList = selectHead.next('.new-select__list');
    for (let i = 1; i < selectOptionLength; i++) {
        $('<div>', {
            class: 'new-select__item',
            html: $('<span>', {
                text: selectOption.eq(i).text()
            })
        })
        .attr('data-value', selectOption.eq(i).val())
        .appendTo(selectList);
    }

    const selectItem = selectList.find('.new-select__item');
    selectList.slideUp(0);


    selectHead.text(selectOption.eq(0).text());
    selectOption.eq(0).attr('selected', true);

    selectHead.on('click', function() {
        if ( !$(this).hasClass('on') ) {
            $(this).addClass('on');
            selectList.slideDown(duration);

            selectItem.on('click', function() {
                let chooseItem = $(this).data('value');

                $('select').val(chooseItem).attr('selected', 'selected');
                selectHead.text( $(this).find('span').text() );

                selectList.slideUp(duration);
                selectHead.removeClass('on');
            });

        } else {
            $(this).removeClass('on');
            selectList.slideUp(duration);
        }
    });
});

</script>





<script>
  var select = document.querySelector(".new-select");
  var hiddenField = document.getElementsByName("post_type")[0];
  select.addEventListener("click", function() {
      this.nextElementSibling.style.display = "block";
  });
  var selectItems = document.querySelectorAll(".new-select__item");
  for (var i = 0; i < selectItems.length; i++) {
      selectItems[i].addEventListener("click", function() {
          select.textContent = this.textContent;
          hiddenField.value = this.dataset.value;
          this.parentNode.style.display = "none";
      });
  }
</script>












</body>
</html>