.main-header {
    font-family: "Poppins", sans-serif;
  }

  .topbar {
    display: flex;
    justify-content: space-between;
    height: 46px;
    background-color: #F7F9FA;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;

    .topbar-left {
      display: flex;

      .topbar-items {
        display: flex;
        margin: 0;
        padding: 0;

        li {
          margin-right: 20px;

          a {
            font-weight: 400;
            font-size: 14px;
            color: #707070;
          }
        }
      }

      .langswitcher-wrap {


        .dropdown-menu {
          transition: opacity 0.5s ease-in-out 1s, transform 0.5s ease-in-out 1s;
          max-height: 0;
          overflow: hidden;
          width: 67px;
          padding: 0;
          padding-top: 8px;
          padding-bottom: 8px;
          margin: 0;
          min-width: auto;
          max-width: 67px;
          height: 0;

          li{
           margin: 0 auto;
           text-align: center;
          }

        }
        .dropdown.open > .dropdown-menu{
          display: block;
          max-height: fit-content;
          transition: opacity 0.5s ease-in-out 1s, transform 0.5s ease-in-out 1s;
          height: auto;

        }

        .dropdown-item {
          display: flex;
          align-items: center;
          padding: 0;
          height: 37px;
          justify-content: center;
          font-size: 14px;
          color: #252525;
          &:hover{
            background-color: #EDEDED;
          }
        }
        .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{
          outline: none;
          box-shadow: none;
        }
        .btn {
          padding: 0;
          span{
            color: #707070;
          }
        }

        .btn-lang {
          display: flex;
          background: transparent;
        }

        img {
          order: 2;
          width: 10px;
          height: 10px;
          border-radius: 100%;
          overflow: hidden;
          margin-left: 6px;
          align-self: center;
        }
      }

      .dropdown-currency {
        width: 45px;
        height: 25px;
        background: #EDEDED;
        border-radius: 2px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        .dropdown-menu {
          transition: opacity 0.5s ease-in-out 1s, transform 0.5s ease-in-out 1s;
          overflow: hidden;
          width: 70px;
          padding: 0;
          padding-top: 8px;
          padding-bottom: 8px;
          margin: 0;
          min-width: auto;
          max-width: 70px;


          li{
           margin: 0 auto;
           text-align: center;
           a{
            &:hover{
              background-color: #EDEDED;
            }
           }
          }

        }
        .open > .dropdown-menu{
          display: block;
          max-height: fit-content;
          transition: opacity 0.5s ease-in-out 1s, transform 0.5s ease-in-out 1s;
          height: auto;

        }

        a {
          letter-spacing: -0.04em;
          text-decoration: none;
        }
      }
    }

    .topbar-right {
      display: flex;
    }

    li {
      list-style: none;
      align-self: center;
    }

    .socicons-top {
      display: flex;
      width: 80px;
      justify-content: space-between;
      margin-right: 9px !important;

      li a {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
    }

    .topbar-right {
      ul {
        margin: 0;
        padding: 0;
        align-self: center;
        height: 100%;
      }

      .topbar-items li a {
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
        color: #707070;
        transition: 0.2s;

        &:hover{
          text-decoration: none;
          color: #DD6A24;
          svg path {
            fill: #DD6A24!important;
          }
        }
      }
    }
  }









  @media screen and (min-width: 1200px) {
    .navbar-collapse {
      height: calc(100vh - 147px)!important;
      transition:  all 0.4s ease-out;
    }
    .navbar-collapse.collapsing{

      transform: translate(-351px, 20px);
      height:calc(100vh - 147px)!important ;
      display: flex;

    }
  }
  @media screen and (min-width: 980px) {

    .navbar-default .navbar-nav li a{
      font-size: 20px;
    }

    .navbar-collapse{
      height: calc(100vh - 100px);
      border: none;
      position: absolute;
      transform: translate(-51px, 20px);
      z-index: -1;
      border-right: 1px solid #E8E7E8;

      .dropdown-submenu{
        a{
          padding: 0;
        }
      }
    }


      .dropdown-submenu .dropdown-menu{
        left: -330px;
        width: 0;
        display: block;
        opacity: 0;

      }
      .dropdown-submenu .dropdown-menu.show{
        left: 100%;
        width: 320px;
        opacity: 1;
        li a{
          &::before{
            display: none;
          }
        }
      }

    .glyphicon{
      display: none;
    }
    .navbar-nav .dropdown.open>.dropdown-menu{
      left: 100%;
      transition: all 0.5s;
      display: block;
      width: 360px;
      opacity: 1;
      border-right: 1px solid #E8E7E8;
    }
    .navbar-nav .dropdown>.dropdown-menu{
      opacity: 0;
      display: block;
      left: -50%;

    }

    .navbar-nav .dropdown .dropdown-menu{
      height: calc(100vh - 100px);

    }
  }
  @media screen and (min-width: 320px) {



    .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
      color: #181A1D;
    }
    .navbar-header {
      float: none;
      display: flex;
      align-items: center;
    }

    .nav > li {
      position: revert;

    }

    .navbar-left, .navbar-right {
      float: none !important;
    }

    .navbar-toggle {
      display: block;
      margin: 0;
      margin-right: 25px;
    }
    .collapsing{
      transform: translate(-51px, 20px);
      height:calc(100vh - 147px)!important ;
    }
    .navbar-collapse {
      padding: 0;
      min-height: 0;
      background-color: #fff;

      display: flex;
      flex-direction: column;
      transition:  all 0.4s ;
      transform: translate(-200%, 20px);
      &::before{
        box-shadow: 10px 4px 34px rgba(0, 0, 0, 0.05);
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border-right: 1px solid #E8E7E8;
      }
    }


    .navbar-collapse.in {
      transition:  all 0.4s ease-out;
     transform: translate(-51px, 20px);
    }




    .navbar-collapse .navbar-nav {
      width: 300px;
      padding-top: 50px;
    }

    .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
    }



    .navbar-nav {
      float: none !important;
      min-width: 100%;
    }
    .navbar-nav li {
      line-height: 1;
    }
    .navbar-default .navbar-nav li a {
      font-weight: 400;

      color: #181A1D ;
    }



    .navbar-nav .dropdown .dropdown-menu {
        top: 0;
        border: none;
        box-shadow: none;
        transition: 0.5s;
        bottom: 0;
        border: none;
        border-radius: 0;

        z-index: -2;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-top: 0;

        li{
          margin-bottom: 26px;
          a{
            padding-left: 50px;

            line-height: 1;
            color: #909090;
            position: relative;
            &::before{
              position: absolute;
              content: '';
              background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='14' viewBox='0 0 8 14'><path fill-rule='evenodd' clip-rule='evenodd' d='M0.290314 13.4003C-0.0967713 13.019-0.0967713 12.4007 0.290314 12.0194L5.19648 7.18628L0.290314 2.35316C-0.0967716 1.97184-0.0967713 1.35359 0.290314 0.972271C0.6774 0.590949 1.30499 0.590949 1.69208 0.972271L8 7.18628L1.69208 13.4003C1.30499 13.7816 0.6774 13.7816 0.290314 13.4003Z' fill='black'/></svg>");
              width: 8px;
              height: 14px;
              background-repeat: no-repeat;
              background-size: contain;
              top: 0;
              bottom: 0;
              right: 20px;
              margin: auto;
              opacity: 0;
              transition: all .2s;
            }
          }
        }



    }

    .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .dropdown-menu>li>a:active{
      background-color: transparent;
      color: #000!important;
      &::before{
        opacity: 1 !important;
      }

    }

    .navbar-nav .dropdown .dropdown-menu.open {
      display: block;

    }


    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
      font-weight: 400;

      color: #181A1D;
      background: none;
      line-height: 1;
    }

    .navbar-nav > li {
      float: none;
    }

    .navbar-nav > li > a {
      padding-top: 13px;
      padding-bottom: 13px;
      padding-left: 50px;
      padding-right: 0;
    }



    .navbar-brand {
      float: none;
      height: 31px;
      align-self: center;
      padding: 0;
      line-height: 1;
    }
  }
  .navbar-collapse.in {
    display: flex !important;

  }
  .navbar-bottom-items{

    margin-top: auto;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 200px;
    padding-left: 50px;
    padding-right: 30px;
    padding-bottom: 35px;
    position: relative;

  @media screen and (max-width: 980px){
    padding-left: 20px;
  }
    .new-object{
      color: #000000;
      font-weight: bold;
    }
    a{
      font-size: 20px;
      line-height: 1;
      color: #6A6A6A;
      margin-bottom: 15px;
      &:hover{
        text-decoration: none;
      }
      @media screen and (max-width: 980px){
        font-size: 16px;
      }
    }
    .langswitcher-wrap{
      .dropdown-menu{
        background: #EDEDED;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
        border-radius: 6px;

        flex-direction: column;
        justify-content: space-around;
      }
      .btn-lang, .dropdown-menu .dropdown-item{
        width: 67px;
        height: 37px;
        background: #EDEDED;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        img{
          order: 2;
          align-self: center;
          display: block;
          border-radius: 100%;
          width: 10px;
          height: 10px;
        }
        span{
          font-size: 14px;
          line-height: 1;
          color: #252525;
          align-self: center;
          margin-right: 6px;
        }
      }
      @media screen and (min-width:1280px){
        display: none;
      }
      position: absolute;
      right: 20px;
      bottom: 41px;
      .dropdown-backdrop{
        display: none;
      }
      .dropdown.open{

        .dropdown-menu{
          transform: translateY(calc(-100% ));
          right: 0;
          left: auto;
          min-width: fit-content;
          width: 67px;
          display: flex;

          .dropdown-item{
            padding: 0 16px;
            width: 67px;
          }
        }
      }
    }
  }


  .topbar-menu {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;
    height: 100px;
    position: relative;
    &::before{
      box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.05);
      left: 0;
      right: 0;

      content: '';
      position: absolute;
      width: 100%;
      height: 100px;
      background: #fff;
    }
  }

  .navbar-default {
    border: none;
    background: none;
    margin: 0;
    border-radius: 0;
    height: 60px;
  }

  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background: #fff;
  }

  .search-item {
    border: 2px solid #DD6A24;
    border-radius: 60px;
    height: 60px;
    width: 100%;
    min-width: fit-content;
    display: flex;
    align-items: center;
    position: relative;
  }
  .search-item form {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .search-desc {

  }

  .navbar-toggle {
    float: left;
    width: 60px;
    height: 60px;
    border: 2px solid #DD6A24 !important;
    border-radius: 10px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 14px;
    padding-right: 14px;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background: #DD6A24;
    border-radius: 100px;
    width: 28px;
    height: 4px;
  }

  .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 8px;
    width: 22px;
    height: 4px;
  }

  .navbar-toggle .icon-bar + .icon-bar + .icon-bar {
    width: 28px;
    height: 4px;
  }

  .search-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    margin-left: 50px;
    margin-right: 50px;

  }



  .search {
    display: flex;
    align-items: center;
  }

  .search-btn {
    cursor: pointer;
    border: none;
    flex-shrink: 0;
    width: 44px;
    height: 44px;
    border-radius: 100%;
    background: #DD6A24;
    margin-right: 8px;
  }
  .search-btn svg {
    vertical-align: middle;
  }

  .form-search {
    border: none;
    border-left: 1px solid #F0F0F0;
    border-right: 1px solid #F0F0F0;
    padding-left: 18px;
    padding-right: 18px;
    height: 44px;
    margin-left: 18px;
    margin-right: 18px;
    display: block;
    width: 100%;

  }
  .form-search:focus-visible {
    border: none;
    outline: none;
    border-left: 1px solid #F0F0F0;
    border-right: 1px solid #F0F0F0;
  }

  .form-search::placeholder {
    font-size: 16px;
    line-height: 16px;
    color: rgba(37, 37, 37, 0.5);
  }

  .search-cat {
    height: 44px;
    background-color: #fff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    border: none!important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 18px;
    margin-left: 8px;
    flex-shrink: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #252525;
    max-width: fit-content;
    outline: none;
    option{
      margin-top: 4px;
      background: #FFFFFF;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
      border-radius: 6px;
      padding: 0;
      &:focus-visible{
        background-color: red;
      }
    }
}


.search-item{
    .select {
      margin-left: 8px;
      position: relative;
  }

  .new-select {
    width: 205px;
      position: relative;

      cursor: pointer;
      user-select: none;
      height: 44px;
      background-color: #fff;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
      border-radius: 100px;
      border: none!important;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 18px;

      flex-shrink: 0;
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
      color: #252525;
      outline: none;
  }

  .new-select__list {
    position: absolute;
    left: 0;
    cursor: pointer;
    z-index: 2;
    user-select: none;
    margin-top: 4px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 0;
    right: 0;
  }

  .new-select__list.on {
      display: block;
  }

  .new-select__item span {
      display: block;
      padding: 8px 0 8px 16px;
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
      color: #252525;
  }

  .new-select__item span:hover {
    background: #FFECE1;
  }

  .new-select:after {
      content: '';
      display: block;
      width: 12px;
      height: 6px;
      position: absolute;
      right: 18px;
      top: auto;
      bottom: auto;
      margin: auto;
      background: url('data:image/svg+xml;utf8,<svg width="12" height="6" viewBox="0 0 12 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.5 0.75L6 5.25L10.5 0.75" stroke="%23151515" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat 88% center;



      -webkit-transition: all .27s ease-in-out;
          -o-transition: all .27s ease-in-out;
              transition: all .27s ease-in-out;

      -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          -o-transform: rotate(0deg);
              transform: rotate(0deg);
  }

  .new-select.on:after {
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -o-transform: rotate(180deg);
              transform: rotate(180deg);
  }
}
// Селекты в поиске
  .header-right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 30%;
  }






  .header-btn-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-btn {
    display: flex;
    align-self: center;
    padding: 0;
    border: none;
    background: none;
    margin-right: 25px;
  }
  .header-btn .header-btn-icon {
    width: 44px;
    height: 44px;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-self: center;
    background: #DD6A24;
    margin-right: 12px;
  }
  .header-btn .header-btn-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #252525;
    align-self: center;
  }

  .header-buttons {
    flex-shrink: 0;
    position: relative;
  }

  .header-btn-help {
    background: none;
    border: none;
    align-self: center;
    padding: 0;
  }
  .header-btn-help .header-btn-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-self: center;
  }

  .opened {
    display: block !important;
  }



  @media screen and (max-width: 1600px){
    .navbar-brand{
      svg{
        width: 182.9px;
        height: 100%;
      }
    }
    .search-desc{
        margin-right: 30px;
        margin-left: 30px;
    }
    .header-btn{
      margin-right: 15px;
    }
    .navbar-toggle{
      margin-right: 15px;
    }

  }
  @media screen and (max-width: 1400px){

    .search-desc{
     margin-right: 16px;
     margin-left: 16px;
    }


  }


  @media screen and (min-width: 1280px){
    .navbar-collapse.collapse{
      height: calc(100vh - 147px)!important;
    }

    .header-buttons-md{
      display: none;
    }
  }
  @media screen and (max-width: 1280px){
    .navbar-collapse.collapse{
      height: calc(100vh - 100px)!important;
    }
    .header-buttons{
      display: none;
    }
    .header-buttons-md{

      display: flex;
    justify-content: space-between;
    width: 98px;
    flex-shrink: 0;
    }
    .topbar{
      display: none;
    }
    .header-btn, .header-btn .header-btn-icon{
      margin-right: 0;
    }
    .header-btn-wrap{
      width: 100%;
    }
    .header-btn-wrap-drop.dropdown.open .header-btn-icon{
      background: #E07E41;
    }
    .header-btn-wrap .dropdown-menu{
      box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
      border-radius: 6px;
      border: none;
      right: 0;
      left: auto;
      padding: 22px 33px 22px 21px;
      width: max-content;
      margin-top: 4px;
      .dropdown-item{
        display: flex;
        margin-bottom: 22px;
        .header-drop-icon{
          margin-right: 12px;
          flex-shrink: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          align-self: center;
          min-width: 25px;
        }
        .header-drop-content{
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #252525;
          flex-shrink: 0;
          align-self: center;


        }
      }
    }
   .header-btn-wrap-drop{
    position: relative;
   }
   .header-buttons-md .header-btn-wrap-drop:first-child .dropdown-menu .dropdown-item .header-drop-icon  {
    width: 40px;
  }
  }



  @media screen and (max-width: 980px){
    // .navbar-nav>.open>a{
    //   position: fixed;
    //   z-index: 77;
    //   top: 0;
    //   right: 0;
    //   left: 0;
    //   bottom: auto;
    //   height: 50px;
    //   line-height: 50px;
    //   padding: 0;
    //   padding-left: 45px!important;
    //   background-color: #F6F7F9!important;
    //   &::before{
    //     background: url("data:image/svg+xml,%3Csvg width='8' height='13' viewBox='0 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.70969 12.714C8.09677 12.3327 8.09677 11.7144 7.70969 11.3331L2.80352 6.5L7.70969 1.66688C8.09677 1.28556 8.09677 0.667314 7.70969 0.285992C7.3226 -0.0953307 6.69501 -0.0953307 6.30792 0.285992L1.61257e-07 6.5L6.30792 12.714C6.69501 13.0953 7.3226 13.0953 7.70969 12.714Z' fill='%238C959C'/%3E%3C/svg%3E") no-repeat center center;
    //     background-size: contain;
    //     left: 20px;
    //     right: auto;
    //     position: absolute;
    //     content: '';
    //     background-size: contain;
    //     width: 8px;
    //     height: 13px;
    //     top: 0;
    //     bottom: 0;
    //     margin: auto;
    //   }
    // }
    .navbar-nav>.open>a.active-cat{
      position: fixed;
      z-index: 77;
      top: 0;
      right: 0;
      left: 0;
      bottom: auto;
      height: 50px;
      line-height: 50px;
      padding: 0;
      padding-left: 45px!important;
      background-color: #F6F7F9!important;
      &::before{
        background: url("data:image/svg+xml,%3Csvg width='8' height='13' viewBox='0 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.70969 12.714C8.09677 12.3327 8.09677 11.7144 7.70969 11.3331L2.80352 6.5L7.70969 1.66688C8.09677 1.28556 8.09677 0.667314 7.70969 0.285992C7.3226 -0.0953307 6.69501 -0.0953307 6.30792 0.285992L1.61257e-07 6.5L6.30792 12.714C6.69501 13.0953 7.3226 13.0953 7.70969 12.714Z' fill='%238C959C'/%3E%3C/svg%3E") no-repeat center center;
        background-size: contain;
        left: 20px;
        right: auto;
        position: absolute;
        content: '';
        background-size: contain;
        width: 8px;
        height: 13px;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }
    .navbar-nav .dropdown.open .dropdown-menu .dropdown-toggle.active-cat {
      position: fixed;
      z-index: 99;
      top: 0;
      right: 0;
      left: 0;
      height: 50px;
      line-height: 50px;
      padding-left: 45px;
      background-color: #F6F7F9!important;
      &::before{
        width: 8px;
        height: 13px;
        background: url("data:image/svg+xml,%3Csvg width='8' height='13' viewBox='0 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.70969 12.714C8.09677 12.3327 8.09677 11.7144 7.70969 11.3331L2.80352 6.5L7.70969 1.66688C8.09677 1.28556 8.09677 0.667314 7.70969 0.285992C7.3226 -0.0953307 6.69501 -0.0953307 6.30792 0.285992L1.61257e-07 6.5L6.30792 12.714C6.69501 13.0953 7.3226 13.0953 7.70969 12.714Z' fill='%238C959C'/%3E%3C/svg%3E") no-repeat center center;
        background-size: contain;
        left: 20px;
        right: auto;
      }
    }



    .close-back{
      display: block;
    }
    .navbar-toggl{
      .glyphicon {
        display: block;
      }
    }
    .navbar-toggle.collapsed{
      .glyphicon {
        display: none;
      }
    }
    .navbar-default .navbar-nav li a{
      font-size: 16px;
      padding-left: 20px;
    }
    .navbar-collapse.collapse{
      height: 100vh!important;
      justify-content: space-between;
    }
    .navbar-collapse.collapse.in{
      z-index: 1;
      transform: translate(0px, 0px);
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height:100vh;
      width: 100%;


    }
    .navbar-collapse.collapse.in {
      border: none;
      display: flex !important;
  }
  .navbar-collapse.collapse{
    z-index: 1;
    transform: translate(0px, 0px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: none!important;
  }
  .navbar-toggle.collapsed{
    .glyphicon{
      display: none!important;

    }
  }
    .glyphicon{

      position: fixed;
      right: 20px;
      top: 20px;
      z-index: 10;
    }
    .glyphicon-remove::before{
      display: none;
    }


    .navbar-nav .dropdown .dropdown-menu{
      overflow-y: scroll;
      padding-top: 70px;


      // .dropdown-menu::before:hover {
      //   text-decoration: underline;
      // }



      .dropdown-submenu {
        a{
          padding: 0;
          padding-left: 20px;
        }
      }
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 5;
      width: 100%;
      background-color: #fff;
    }
    .topbar-menu{
      flex-wrap: wrap;
    }
    .search-desc{
      order: 3;
     margin-right: 0;
     margin-left: 0;


    }
    .navbar-default{
      height: 40px;
      min-height: 40px;
    }
    .navbar-toggle {

      width: 40px;
      height: 40px;
      margin-right: 10px;
      border-radius: 6px;

      padding-left: 8px;
      padding-right: 8px;
    }

    .navbar-default .navbar-toggle .icon-bar {
      background: #DD6A24;
      border-radius: 100px;
      width: 20px;
      height: 3px;
    }

    .navbar-toggle .icon-bar + .icon-bar {
      margin-top: 5px;
      width: 14px;
      height: 3px;
    }

    .navbar-toggle .icon-bar + .icon-bar + .icon-bar {
      width: 20px;
      height: 3px;
    }
    .header-btn .header-btn-icon{
      width: 40px;
      height: 40px;
    }
    .header-btn-wrap{
      width: 95px;
    }
    .topbar-menu{
      padding-left: 16px;
      padding-right: 16px;
      padding-top: 16px;
      background-color: #fff;
      height: 147px;
      align-items: flex-start;
    }
    .search-item .new-select{
      font-size: 15px;
      width: 133px;
      height: 40px;
    }
    .search-btn{
      width: 40px;
      height: 40px;
      margin-right: 4px;
    }
    .search-item{
      height: 48px;
      .form-search{
        margin-left: 8px;
        margin-right: 8px;
        padding-left: 8px;
        padding-right: 8px;
        height: 40px;
      }
    }
    .search-item .select{
      margin-left: 4px;
    }
    .form-search::placeholder{
      font-size: 15px;
      line-height: 15px;
    }
    .search-item .new-select:after{
      right: 10px;
     background: url("data:image/svg+xml,%3Csvg width='9' height='7' viewBox='0 0 9 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.75 1.625L4.5 5.375L8.25 1.625' stroke='%23151515' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat center center fixed;
  background-size: contain;

  }

  .navbar-nav{
    margin: 0;
  }
}


.navbar-collapse{
  position: absolute;

}



@media screen and (max-width:364px) {
  .navbar-header{
    max-width: 200px;
  }
  .header-buttons-md{
    width: 84px;
  }
  .header-btn-wrap{
    width: 84px;
  }
}