.main-header {
    font-family: "Poppins", sans-serif;
  }

  .topbar {
    display: flex;
    justify-content: space-between;
    height: 46px;
    background-color: #F7F9FA;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;

    .topbar-left {
      display: flex;

      .topbar-items {
        display: flex;
        margin: 0;
        padding: 0;

        li {
          margin-right: 20px;

          a {
            font-weight: 400;
            font-size: 14px;
            color: #707070;
          }
        }
      }

      .langswitcher-wrap {


        .dropdown-menu {
          transition: opacity 0.5s ease-in-out 1s, transform 0.5s ease-in-out 1s;
          max-height: 0;
          overflow: hidden;
          width: 67px;
          padding: 0;
          padding-top: 8px;
          padding-bottom: 8px;
          margin: 0;
          min-width: auto;
          max-width: 67px;
          height: 0;

          li{
           margin: 0 auto;
           text-align: center;
          }

        }
        .dropdown.open > .dropdown-menu{
          display: block;
          max-height: fit-content;
          transition: opacity 0.5s ease-in-out 1s, transform 0.5s ease-in-out 1s;
          height: auto;

        }

        .dropdown-item {
          display: flex;
          align-items: center;
          padding: 0;
          height: 37px;
          justify-content: center;
          font-size: 14px;
          color: #252525;
          &:hover{
            background-color: #EDEDED;
          }
        }
        .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{
          outline: none;
          box-shadow: none;
        }
        .btn {
          padding: 0;
          span{
            color: #707070;
          }
        }

        .btn-lang {
          display: flex;
          background: transparent;
        }

        img {
          order: 2;
          width: 10px;
          height: 10px;
          border-radius: 100%;
          overflow: hidden;
          margin-left: 6px;
          align-self: center;
        }
      }

      .dropdown-currency {
        width: 45px;
        height: 25px;
        background: #EDEDED;
        border-radius: 2px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        .dropdown-menu {
          transition: opacity 0.5s ease-in-out 1s, transform 0.5s ease-in-out 1s;

          overflow: hidden;
          width: 70px;
          padding: 0;
          padding-top: 8px;
          padding-bottom: 8px;
          margin: 0;
          min-width: auto;
          max-width: 70px;


          li{
           margin: 0 auto;
           text-align: center;
          }

        }
        .open > .dropdown-menu{
          display: block;
          max-height: fit-content;
          transition: opacity 0.5s ease-in-out 1s, transform 0.5s ease-in-out 1s;
          height: auto;

        }

        a {
          letter-spacing: -0.04em;
          text-decoration: none;
        }
      }
    }

    .topbar-right {
      display: flex;
    }

    li {
      list-style: none;
      align-self: center;
    }

    .socicons-top {
      display: flex;
      width: 80px;
      justify-content: space-between;
      margin-right: 9px !important;

      li a {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
    }

    .topbar-right {
      ul {
        margin: 0;
        padding: 0;
        align-self: center;
        height: 100%;
      }

      .topbar-items li a {
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
        color: #707070;
        transition: 0.2s;

        &:hover{
          text-decoration: none;
          color: #DD6A24;
          svg path {
            fill: #DD6A24!important;
          }
        }
      }
    }
  }



  @media screen and (min-width: 320px) {
    .navbar-header {
      float: none;
      display: flex;
      align-items: center;
    }

    .nav > li {
      position: revert;
    }

    .navbar-left, .navbar-right {
      float: none !important;
    }

    .navbar-toggle {
      display: block;
      margin: 0;
      margin-right: 25px;
    }

    .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
      padding: 0;
      transform: translate(-50px, 20px);
    }
    .navbar-collapse .navbar-nav {
      width: 300px;
      padding-top: 50px;
      padding-left: 50px;
    }

    .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
      display: none !important;
    }

    .navbar-nav {
      float: none !important;
      background: #fff;
      min-width: 100%;
    }
    .navbar-nav li {
      line-height: 1;
    }
    .navbar-nav li a {
      font-weight: 400;
      font-size: 20px;
      color: #181A1D !important;
    }
    .navbar-nav .dropdown .dropdown-menu {
        top: 0;
        right: auto;
        left: 100%;
        border: none;
        box-shadow: none;
        transition: 1s ease-in 1s;
    }
    .navbar-nav .dropdown .dropdown-menu.open {
      display: block;

    }
    .navbar-nav .dropdown.open .dropdown-menu.opened {
      top: 0;
      right: auto;
      left: 100%;
      border: none;
      box-shadow: none;
      transition: 1s ease-in 1s;
    }

    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
      font-weight: 400;
      font-size: 20px;
      color: #181A1D;
      background: none;
    }

    .navbar-nav > li {
      float: none;
    }

    .navbar-nav > li > a {
      padding-top: 13px;
      padding-bottom: 13px;
    }

    .collapse.in {
      height: calc(100vh - 146px) !important;
      border: 1px solid;
      position: relative;
      transform: translate(-50px, 20px);
      display: block !important;
    }

    .navbar-brand {
      float: none;
      height: 31px;
      align-self: center;
      padding: 0;
      line-height: 1;
    }
  }
  .topbar-menu {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;
    height: 100px;
  }

  .navbar-default {
    border: none;
    background: none;
    margin: 0;
    border-radius: 0;
    height: 60px;
  }

  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background: #fff;
  }

  .search-item {
    border: 2px solid #DD6A24;
    border-radius: 60px;
    height: 60px;
    width: 100%;
    min-width: fit-content;
    display: flex;
    align-items: center;
    position: relative;
  }
  .search-item form {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .search-desc {

  }

  .navbar-toggle {
    float: left;
    width: 60px;
    height: 60px;
    border: 2px solid #DD6A24 !important;
    border-radius: 10px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 14px;
    padding-right: 14px;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background: #DD6A24;
    border-radius: 100px;
    width: 28px;
    height: 4px;
  }

  .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 8px;
    width: 22px;
    height: 4px;
  }

  .navbar-toggle .icon-bar + .icon-bar + .icon-bar {
    width: 28px;
    height: 4px;
  }

  .search-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    margin-left: 50px;
    margin-right: 50px;

  }



  .search {
    display: flex;
    align-items: center;
  }

  .search-btn {
    cursor: pointer;
    border: none;
    flex-shrink: 0;
    width: 44px;
    height: 44px;
    border-radius: 100%;
    background: #DD6A24;
    margin-right: 8px;
  }
  .search-btn svg {
    vertical-align: middle;
  }

  .form-search {
    border: none;
    border-left: 1px solid #F0F0F0;
    border-right: 1px solid #F0F0F0;
    padding-left: 18px;
    padding-right: 18px;
    height: 44px;
    margin-left: 18px;
    margin-right: 18px;
    display: block;
    width: 100%;

  }
  .form-search:focus-visible {
    border: none;
    outline: none;
    border-left: 1px solid #F0F0F0;
    border-right: 1px solid #F0F0F0;
  }

  .form-search::placeholder {
    font-size: 16px;
    line-height: 16px;
    color: rgba(37, 37, 37, 0.5);
  }

  .search-cat {
    height: 44px;
    background-color: #fff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    border: none!important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 18px;
    margin-left: 8px;
    flex-shrink: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #252525;
    max-width: fit-content;
    outline: none;
    option{
      margin-top: 4px;
      background: #FFFFFF;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
      border-radius: 6px;
      padding: 0;
      &:focus-visible{
        background-color: red;
      }
    }
}


.search-item{
  .select {
    margin-left: 8px;
    position: relative;
}

.new-select {
  width: 205px;
    position: relative;

    cursor: pointer;
    user-select: none;
    height: 44px;
    background-color: #fff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    border: none!important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 18px;

    flex-shrink: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #252525;
    outline: none;
}

.new-select__list {
  position: absolute;
  left: 0;
  cursor: pointer;
  z-index: 2;
  user-select: none;
  margin-top: 4px;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 0;
  right: 0;
}

.new-select__list.on {
    display: block;
}

.new-select__item span {
    display: block;
    padding: 8px 0 8px 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #252525;
}

.new-select__item span:hover {
  background: #FFECE1;
}

.new-select:after {
    content: '';
    display: block;
    width: 12px;
    height: 6px;
    position: absolute;
    right: 18px;
    top: auto;
    bottom: auto;
    margin: auto;
    background: url('data:image/svg+xml;utf8,<svg width="12" height="6" viewBox="0 0 12 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.5 0.75L6 5.25L10.5 0.75" stroke="%23151515" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat 88% center;



    -webkit-transition: all .27s ease-in-out;
        -o-transition: all .27s ease-in-out;
            transition: all .27s ease-in-out;

    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
}

.new-select.on:after {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
         -o-transform: rotate(180deg);
            transform: rotate(180deg);
}
}

  .header-right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 30%;
  }

  .inner-menu {
    display: none;
    position: fixed !important;
    width: 300px;
    height: 100%;
    left: 0;
    z-index: 99;
  }




  .header-btn-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-btn {
    display: flex;
    align-self: center;
    padding: 0;
    border: none;
    background: none;
    margin-right: 25px;
  }
  .header-btn .header-btn-icon {
    width: 44px;
    height: 44px;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-self: center;
    background: #DD6A24;
    margin-right: 12px;
  }
  .header-btn .header-btn-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #252525;
    align-self: center;
  }

  .header-buttons {
    flex-shrink: 0;
  }

  .header-btn-help {
    background: none;
    border: none;
    align-self: center;
    padding: 0;
  }
  .header-btn-help .header-btn-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-self: center;
  }

  .opened {
    display: block !important;
  }



  @media screen and (max-width: 1600px){
    .navbar-brand{
      svg{
        width: 182.9px;
        height: 100%;
      }
    }
    .search-desc{
        margin-right: 30px;
        margin-left: 30px;
    }
    .header-btn{
      margin-right: 15px;
    }
    .navbar-toggle{
      margin-right: 15px;
    }

  }
  @media screen and (max-width: 1400px){

    .search-desc{
     margin-right: 16px;
     margin-left: 16px;
    }


  }


  @media screen and (min-width: 1280px){

    .header-buttons-md{
      display: none;
    }
  }
  @media screen and (max-width: 1280px){
    .header-buttons{
      display: none;
    }
    .header-buttons-md{

      display: flex;
    justify-content: space-between;
    width: 98px;
    flex-shrink: 0;
    }
    .topbar{
      display: none;
    }
    .header-btn, .header-btn .header-btn-icon{
      margin-right: 0;
    }
    .header-btn-wrap{
      width: 100%;
    }
  }

  @media screen and (max-width: 980px){
         .topbar-menu{
      flex-wrap: wrap;
    }
    .search-desc{
      order: 3;
     margin-right: 0;
     margin-left: 0;
     margin-top: 22px;

    }
    .navbar-default{
      height: 40px;
      min-height: 40px;
    }
    .navbar-toggle {

      width: 40px;
      height: 40px;
      margin-right: 10px;
      border-radius: 6px;

      padding-left: 8px;
      padding-right: 8px;
    }

    .navbar-default .navbar-toggle .icon-bar {
      background: #DD6A24;
      border-radius: 100px;
      width: 20px;
      height: 3px;
    }

    .navbar-toggle .icon-bar + .icon-bar {
      margin-top: 5px;
      width: 14px;
      height: 3px;
    }

    .navbar-toggle .icon-bar + .icon-bar + .icon-bar {
      width: 20px;
      height: 3px;
    }
    .header-btn .header-btn-icon{
      width: 40px;
      height: 40px;
    }
    .header-btn-wrap{
      width: 95px;
    }
    .topbar-menu{
      padding-left: 16px;
      padding-right: 16px;
      padding-top: 16px;
    }
    .search-item .new-select{
      font-size: 15px;
      width: 133px;
      height: 40px;
    }
    .search-btn{
      width: 40px;
      height: 40px;
      margin-right: 4px;
    }
    .search-item{
      height: 48px;
      .form-search{
        margin-left: 8px;
        margin-right: 8px;
        padding-left: 8px;
        padding-right: 8px;
        height: 40px;
      }
    }
    .search-item .select{
      margin-left: 4px;
    }
    .form-search::placeholder{
      font-size: 15px;
      line-height: 15px;
    }
    .search-item .new-select:after{
      right: 10px;
      background: url('data:image/svg+xml;utf8,<svg width="9" height="7" viewBox="0 0 9 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.75 1.625L4.5 5.375L8.25 1.625" stroke="#151515" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>') repeat;

  }
}